@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

* {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Noto Sans Mono', monospace;
    padding: 0 2vw;
    border-bottom: 1px solid #d8d8d8;
    background-color: white;
}

.nav-div-one{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 120px;
}

.nav-div-two{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-div-two a{
    padding: 6px 12px;
    text-decoration: none;
    color: #39A126;
    font-size: 20px;
}

.nav-div-two a:hover{
    outline: 3px dashed #39A126;
}

.hamburger{
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
}

.bar:nth-child(1){
    margin-bottom: 6px;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: #005e00;
    transition: 0.2s;

}
.bar:nth-child(2){
    margin-bottom: 6px;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: #005e00;
}
.bar:nth-child(3){
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #005e00;
    transition: 0.2s;
}

.main-section{
    padding: 100px 30px 30px;
    margin: 0 7vw;
}

.landing-div{
    padding: 120px 9vw 30px;
    height: 100vh;
    background-image: linear-gradient(to right, #000000a8, #000000a8), url('./images/niehub-contact-us.jpeg');
    background-size: cover;
}

.landing-div-headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    text-align: center;
    height: 100%;
}

.landing-div-headers h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}

.landing-div-headers h2{
    font-size: 20px;
    color: #e2d700;
}

.landing-div-headers p{
    font-size: 20px;
    color: white;
    width: 70%;
}

.landing-div-headers button{
    width: 300px;
    height: 50px;
    border: none;
    background-color: #39A126;
    color: white;
    font-size: 18px;
}

.home-page-initiatives{
    padding: 50px 7vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.home-page-initiatives-div{
    padding: 16px;
    width: 24%;
    border-radius: 10px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-page-initiatives-div:nth-child(odd){
    background-color: #feffeb;
}

.home-page-initiatives-div:nth-child(even){
    background-color: #e9ffe5;
}

.home-page-initiatives-img-div{
    width: 70%;
    padding: 2vw;
    border: 1px solid #57575746;
    border-radius: 50%;
}

.home-page-initiatives-div h1{
    text-align: center;
    font-size: 24px;
}
.home-page-initiatives-div img{
    width: 100%;
}
.home-page-initiatives-div p{
    width: 80%;
    text-align: center;
}

.home-page-initiatives-div a{
    background-color: #39A126;
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;

}









/* Programs  */

.courses-top-div{
    padding: 120px 30px 30px;
    height: 300px;
    background-image: linear-gradient(to right, #000000a8, #000000a8), url('./images/courses.jpg');
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.courses-top-div h1{
    color: #FFC927;
    font-size: 40px;
}

.courses-top-div p{
    color: white;
}

.courses-div{
    padding: 60px 7vw 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.one-course-div{
    background-color: #e9ffe5;
    width: 30%;
    margin-bottom: 60px;
}

.one-course-div-img img{
    width: 100%;
}

.one-course-div-text{
    padding: 20px;
}

.one-course-div-text h1, .one-course-div-text p{
    margin-bottom: 20px;
}

.one-course-div-text h1{
    color: #C97713;
    font-size: 2vw;
}

.one-course-div-text-a{
    display: flex;
    justify-content: space-between;
}

.one-course-div-text a{
    padding: 12px 30px;
    outline: 2px solid #39A126;
    border-radius: 5px;
    background-color: #d6ffce;
    text-align: center;
    color: black;
    text-decoration: none;
}

.one-course-div-text a:hover{
    background-color: #39A126;
    color: white;
    transition: .3s ease-in-out;
}















/* About us page */

.who-we-are{
    padding: 120px 7vw 30px;
    width: 100%;
    background-size: cover;
    background-color: #F1E9D7;
}

.about-niehub-header{
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    color: #C97713;
}

.who-we-are-side-divs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.who-we-are-story{
    width: 48%;
}

.who-we-are-story p{
    font-size: 16px;
    margin-bottom: 20px;
}

.who-we-are-image{
    width: 48%;
}

.who-we-are-image img{
    width: 100%;
}




.vision-mission-wrapper{
    padding: 7vw 6vw;
    width: 100%;
    /* height: 600px; */
}

.vision-mission-values{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.vision-mission-values > div{
    padding: 20px 2vw ;
    width: 30%;
    margin-bottom: 40px;
    border-radius: 16px;
}

.vision-mission-values > div h1{
    color: #FFC927;
    margin-bottom: 36px;
    text-align: center;
}

.vision-mission-values > div p{
    color: white;
    font-size: 18px;
}

.vision{
    background-image: linear-gradient(to right, #32522ee6, #32522ee6), url('./images/shared-vision.png');
    background-size: cover;
}

.mission{
    background-image: linear-gradient(to right, #32522ee6, #32522ee6), url('./images/target.png');
    background-size: cover;
}

.values{
    background-image: linear-gradient(to right, #32522ee6, #32522ee6), url('./images/value.png');
    background-size: cover;
    font-size: 20px;
}

.values ul {
    color: white;
    list-style: none;
}

.values ul li:before {
    content: '✓ ';
    color: #FFC927;
    margin-left: 20px;
    font-size: 30px;
}
.objectives-header{
    text-align: center;
    margin-bottom: 4px;
    font-size: 48px;
    color: #C97713;
}


.about-us-team{
    padding: 50px 9vw;
    background-image: linear-gradient(to right, #32522e8f, #32522e8f), url('./images/digital.jpg');
    background-size: cover;
}

.about-us-team-members{
    width: 100%;
}

.team-members{
    background-color: #ecffec;
    width: 100%;
    padding: 40px 2vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    border-radius: 20px;
    /* box-shadow: 6px 6px 60px #76e7af; */
}

.team-members-image{
    width: 25%;
}
.team-members-text{
    width: 70%;
    padding-right: 80px;
}
.team-members-image img{
    width: 100%;
    border-radius: 50%;
}

.team-members-text h1{
    margin-bottom: 20px;
    text-align: center;
} 

.team-members-text p{
    font-size: 18px;
} 


















/* Contact us page */

.contact-us{
    padding: 120px 9vw 30px;
    
    /* background-color: #32522E;
    background-color: #39A126;
    background-color: #C97713;
    background-color: #FFC927;
    background-color: #F1E9D7; */


}

.contact-page-top-inner-div{
    margin: 3vw 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-page-top-div-left{
    width: 48%;
}

.contact-page-top-div-left img{
    width: 100%;
}

.contact-page-top-div-right{
    width: 48%;
}

.contact-page-top-div-right-icons{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.contact-page-top-div-right-icons i{
    color: #39A126;
    font-size: 24px;
    padding: 24px;
    background-color: #e9ffe5;
    border-radius: 50%;
    margin-right: 30px;
}

.embeded-map{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
}













/* Footer */

footer{
    padding: 0 9vw;
    width: 100%;
    height: 80px;
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons-div{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-icons-div i{
    font-size: 24px;
    color: orange;
}



















/* Media Queries */

@media (max-width: 1300px) {
    .who-we-are-side-divs{
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .who-we-are-image, .who-we-are-story{
        width: 100%;
    }
    .who-we-are-image{
        margin-bottom: 30px;
    }

    .team-members-text{
        padding-right: 0;
    }

    .one-course-div{
        width: 48%;
    }


}

@media (max-width: 1000px) {
    .home-page-initiatives-div{
        width: 48%;
        margin-bottom: 24px;
    }
    .home-page-initiatives{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-us-team{
        padding: 40px 3vw;
    }
    .team-members-text p{
        font-size: 16px;
    }
}







@media (max-width: 800px) {
    .one-course-div{
        width: 100%;
    }
    .one-course-div-text h1{
        font-size: 24px;
    }

    .about-niehub-header{
        font-size: 28px;
        margin-bottom: 10px;
    }

    .contact-page-top-inner-div{
        display: flex;
        flex-direction: column;
    }
    .contact-page-top-div-left{
        width: 100%;
        margin-bottom: 50px;
    }
    .contact-page-top-div-right{
        width: 100%;
    }

    .landing-div-headers p{
        width: 100%;
    }

    .vision-mission-values{
        flex-direction: column;
        align-items: center;

    }

    .vision-mission-values > div{
        width: 100%;
    }

    .team-members{
        flex-direction: column;
        align-items: center;
    }

    .team-members-image{
        width: 70%;
    }
    .team-members-text{
        width: 90%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }
    .copyright-div{
        text-align: center;
    }

    .footer-icons-div{
        width: 30%;
    }
}


@media (max-width: 700px) {

    .hamburger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburger.active .bar:nth-child(2){
        display: none;
    }

    .hamburger.active .bar{
        background-color: white;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(5px) rotate(135deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-5px) rotate(-135deg);
        width: 50px;
    }

    .nav-div-one{
        width: 40%;
    }

    .nav-div-two{
        width: 70%;
        padding-top: 40px;
        position: fixed;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #32522E;
        height: 90vh;
        top: 0;
        right: -100%;
        transition: 0.4s;
    }

    .nav-div-two a{
        color: white;
    }

    .nav-div-two.active{
        position: fixed;
        right: 0;
    }
}


@media (max-width: 610px) {
    .landing-div-headers h1{
        font-size: 50px;
    }
    .landing-div-headers{
        padding: 0;
    }
    .home-page-initiatives-div{
        width: 100%;
        margin-bottom: 24px;
        height: 500px;
    }
    .home-page-initiatives{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .one-course-div-text-a{
        flex-direction: column;
    }

    .one-course-div-text a{
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    .landing-div-headers button{
        width: 100%;
        font-size: 16px;
    }
    .landing-div-headers h1{
        font-size: 30px;
    }
    .landing-div-headers h2{
        font-size: 16px;
    }

    .landing-div-headers p{
        font-size: 16px;
    }
}